<form class="example-form" #editTripForm="ngForm">
  <!-- <mat-card class='example-card'> -->
    
    <mat-toolbar color="primary">
      <span>Edit Trip</span>
      <span class="example-spacer"></span>

    </mat-toolbar>
    <mat-card-title></mat-card-title> 
    <mat-card-subtitle></mat-card-subtitle>

    <!-- Name -->
    <div class="content">
    <mat-card-content>
      <mat-form-field class="example-full-width">
        <mat-label>Title</mat-label>
        <input 
          matInput 
          type="text" 
          name="name"
          id="name"
          #titleField="ngModel"
          required
          [(ngModel)]="editTripRequest.title" 
          >
        <button mat-button *ngIf="editTripRequest.title" matSuffix mat-icon-button aria-label="Clear" (click)="editTripRequest.title=''">
          <mat-icon>close</mat-icon>
        </button>
        <mat-error *ngIf="titleField.hasError('required') && titleField.touched">
          Title is <strong>required</strong>
        </mat-error>
      </mat-form-field>
    </mat-card-content>

    <!-- Password -->
    <mat-card-content>
      <mat-form-field class="example-full-width" >
        <mat-label>Description</mat-label>
        <input 
            matInput 
            type="texte" 
            name="description"
            id="description"
            #descriptionField="ngModel"
            [(ngModel)]="editTripRequest.description" 
            required
          >
        <button mat-button *ngIf="editTripRequest.description" matSuffix mat-icon-button aria-label="Clear" (click)="editTripRequest.description=''">
          <mat-icon>close</mat-icon>
        </button>
        <mat-error *ngIf="descriptionField.hasError('required') && descriptionField.touched">
          Desciption is <strong>required</strong>
        </mat-error>
      </mat-form-field>
    </mat-card-content>
    </div>
    <mat-card-actions class="example-actions">
      <button mat-flat-button mat-dialog-close color="primary" (click)="onSubmit(editTripForm)" type="submit" cdkFocusInitial>Edit</button>
      <button mat-button mat-dialog-close>Cancel</button>
      <!-- <button mat-button mat-dialog-close (click)="console()">Console</button> -->
    </mat-card-actions>
    <mat-card-footer></mat-card-footer>
  <!-- </mat-card> -->
</form>


