
  .example-card {
    max-width: 400px;
  }
  .create-title-card{
    padding-top: 140px;
    padding-left: 50px;
  }
  .create-card {
   width: 100pc;
   height: 365px;
  }

  .trip-card {
    width: 100pc;
    height: 365px;
   }
  
  .example-header-image {
    background-image: url('https://material.angular.io/assets/img/examples/shiba1.jpg');
    background-size: cover;
  }

  .example-spacer {
    flex: 1 1 auto;
  }

  .main-container {
    margin : auto;
    width: 1200px;
  }

  .create {
    margin-left: 40%;
  }
  
//Filter-------------
  .example-list {
    padding-top: 80px;
  }


  .example-form {
    min-width: 150px;
    max-width: 900px;
    width: 100%;
  }
  
  .example-full-width {
    width: 100%;
  }

//Sidenav ------------
.example-container {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: #eee;
}

