<form #regisForm="ngForm" (submit)="onSubmit(regisForm)">
    <mat-card class='example-card'>
      
      <mat-toolbar color="primary">
        <span>Register</span>
        <span class="example-spacer"></span>
      <button mat-flat-button color="primary" routerLink="/login" routerLinkActive="activebutton">Back</button>
        
      </mat-toolbar>
      <mat-card-title></mat-card-title>
      <mat-card-subtitle></mat-card-subtitle>

      <!-- Name -->
      <div class="content">
      <mat-card-content>
        <mat-form-field class="example-form-field">
          <mat-label>Name</mat-label>
          <input 
            matInput 
            type="text" 
            name="name"
            id="name"
            #nameField="ngModel"
            required
            [(ngModel)]="regisRequest.name" 
            >
          <button mat-button *ngIf="regisRequest.name" matSuffix mat-icon-button aria-label="Clear" (click)="regisRequest.name=''">
            <mat-icon>close</mat-icon>
          </button>
          <mat-error *ngIf="nameField.hasError('required') && nameField.touched">
            Email is <strong>required</strong>
          </mat-error>
        </mat-form-field>
      </mat-card-content>

      <!-- Password -->
      <mat-card-content>
        <mat-form-field class="example-form-field" >
          <mat-label>Password</mat-label>
          <input 
              matInput 
              type="password" 
              name="password"
              id="password"
              #passwordField="ngModel"
              [(ngModel)]="regisRequest.password" 
              required
            >
          <button mat-button *ngIf="regisRequest.password" matSuffix mat-icon-button aria-label="Clear" (click)="regisRequest.password=''">
            <mat-icon>close</mat-icon>
          </button>
          <mat-error *ngIf="passwordField.hasError('required') && passwordField.touched">
            Password is <strong>required</strong>
          </mat-error>
        </mat-form-field>
      </mat-card-content>
      </div>
      <mat-card-actions class="example-actions">
        <button mat-flat-button color="primary" type="submit" (click)="onSubmit(regisForm)">Submit</button>
      </mat-card-actions>
      <mat-card-footer></mat-card-footer>
    </mat-card>
  </form>