<mat-card class="example-card" id={{listPlaces.id}} >
    <mat-card-header>
      <mat-card-title >{{ listPlaces.name }}</mat-card-title>    
      <mat-card-subtitle>{{ listPlaces.name}}</mat-card-subtitle>
      <!-- MaterialMenu -->
      <span class="example-spacer"></span>
      <button mat-icon-button [matMenuTriggerFor]="menu" aria-label="Example icon-button with a menu">
        <mat-icon>more_vert</mat-icon>
      </button>
      <mat-menu #menu="matMenu">
        <button mat-menu-item (click)="editPlace()">
          <mat-icon>edit</mat-icon>
          <span>Edit</span>
        </button>
        <!-- <button mat-menu-item (click)="console()">
          <mat-icon>console</mat-icon>
          <span>console</span>
        </button> -->
        <button mat-menu-item (click)="deletedPlace()">
          <mat-icon >delete</mat-icon>
          <span>Delete place</span>
        </button>
      </mat-menu>
      <!-- MaterialMenu -->
    </mat-card-header>
    
    <img mat-card-image src="https://material.angular.io/assets/img/examples/shiba2.jpg" alt="Photo of a Shiba Inu">
    <mat-card-content>
    <p>
      {{ listPlaces.name }}
    </p>
  </mat-card-content>
  
  <mat-card-actions>
    <!-- <button mat-button (click)="createPlace()">New place</button> -->
  </mat-card-actions>
  
</mat-card>