mat-grid-tile {
    background: rgb(245, 245, 245);
  }

  .example-card {
    max-width: 100pc;
  }
  
  .example-header-image {
    background-image: url('https://material.angular.io/assets/img/examples/shiba1.jpg');
    background-size: cover;
  }

  .example-spacer {
    flex: 1 1 auto;
  }

  .main-container {
    margin : 500px;
  }

//Sidenav


.example-container {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  // background: #eee;
}

.map-content{
    margin-left: 25.65%;
    height: 100pc;
}

