
  .example-card {
    max-width: 400px;
  }
  
  .example-header-image {
    background-image: url('https://cdn.pixabay.com/photo/2020/06/15/17/10/ancient-5302626_1280.jpg');
    background-size: cover;
  }

  .example-spacer {
    flex: 1 1 auto;
  }

  .main-container {
    margin : auto;
    width: 1200px;
  }

  .is-invalid{
    color: red;
  }



.map-content{
    margin-left: 25.65%;
    height: 1000px;
}

//Stepper-----------------

.mat-stepper-vertical {
  margin-top: 8px;
}

.mat-form-field {
  margin-top: 16px;
  height: 475px;
}

//Filter------------------

.example-list {
  padding-top: 10px;
}

.example-form {
  min-width: 150px;
  max-width: 900px;
  width: 100%;
}

.example-full-width {
  width: 100%;
  margin-top: 16px;
  height: 100px;
}
