<div class="main-container">

  <!-- Header -->

  <div>
    <mat-toolbar color="primary">
      <mat-toolbar-row>  
        <span>Places - Travel log</span>
        <span class="example-spacer"></span>
        <app-logout-button></app-logout-button>
      </mat-toolbar-row>
    </mat-toolbar>
  </div>

  
  <!-- Body -->
  
  
 
   

      <!-- Filter -->
        <mat-grid-list  cols="4" rowHeight="2.75:1" gutterSize="50px">  
        <!-- <mat-grid-list class="example-list" cols="4" rowHeight="2.7:1" gutterSize="50px"> -->
          
          <mat-grid-tile rowspan="2" colspan="4"> 
            <form class="example-form" #searchPlaceForm="ngForm">
              <mat-form-field class="example-full-width" appearance="fill">
                <input 
                type="text" 
                name="filterplace"
                id="filterplace"
                placeholder="Search place"
                matInput 
                [formControl]="myControl" 
                [matAutocomplete]="auto">
                <button mat-icon-button matSuffix aria-label="Search-icon" (click)="retrievePlace()">
                  <mat-icon>search icon</mat-icon>
                </button>
                <!-- <mat-autocomplete #auto="matAutocomplete" [displayWith]="displayFn"> -->
                  <mat-autocomplete #auto="matAutocomplete" >
                    <mat-option *ngFor="let listPlace of filteredListPlaces | async" [value]="listPlace.name">
                      {{listPlace.name}}
                    </mat-option>
                  </mat-autocomplete>
                </mat-form-field>
              </form>
            </mat-grid-tile>  
            </mat-grid-list>  
            <!-- Filter -->
            
            
            <!-- Forms -->  
            <mat-grid-list  cols="4" rowHeight="1:1" gutterSize="50px">  
            <!-- <mat-grid-list class="example-list" cols="4" rowHeight="1:1" gutterSize="50px">      -->
              
     
            <mat-grid-tile rowspan="3" colspan="1"> 
              <mat-vertical-stepper [linear]="isLinear" #stepper>
                <!-- Name -->
                <mat-step [stepControl]="firstFormGroup">
                  <form [formGroup]="firstFormGroup">
                    <ng-template matStepLabel>Fill out your name place</ng-template>
                    <mat-form-field>
                      <mat-label>Name place</mat-label>
                      <input 
                      matInput 
                      placeholder="ex: Place de la gare" 
                      type="text"
                      name="name"
                      formControlName="firstCtrl" 
                      [(ngModel)]="createPlaceRequest.name"
                      required
                      >
                    </mat-form-field>
                    <div>
                      <button mat-button matStepperNext>Next</button>
                    </div>
                  </form>
                </mat-step>
                <!-- Description -->
                <mat-step [stepControl]="secondFormGroup">
                  <form [formGroup]="secondFormGroup">
                    <ng-template matStepLabel>Fill out your description</ng-template>
                    <mat-form-field>
                      <mat-label>Description</mat-label>
                      <input 
                      matInput formControlName="secondCtrl" 
                      placeholder="Ex. Belle ambiance"
                      type="text"
                      name="description"
                      id="name"
                      required
                      [(ngModel)]="createPlaceRequest.description"
                      >
                    </mat-form-field>
                    <div>
                      <button mat-button matStepperPrevious>Back</button>
                      <button mat-button matStepperNext>Next</button>
                    </div>
                  </form>
                </mat-step>
                <!-- Coordinates -->
                <mat-step [stepControl]="thirdFormGroup">
                  <form [formGroup]="thirdFormGroup">
                    <ng-template matStepLabel>Add coordinates since the map</ng-template>
                    <mat-form-field>
                      <mat-label>Click on map</mat-label>
                      <input 
                        matInput 
                        formControlName="thirdCtrl" 
                        placeholder="46.000 , 0.015"
                        [(ngModel)]="this.coord"
                        required
                        >
                    </mat-form-field>
                    <div>
                      <button mat-button matStepperPrevious >Back</button>
                      <button mat-button matStepperNext (click)="addCoord()">Next</button>
                    </div>
                  </form>
                </mat-step>
                
                <mat-step>
                  <ng-template matStepLabel>Done</ng-template>
                  <!-- <p>You are now done.</p> -->
                  <div>
                    <button mat-button matStepperPrevious>Back</button>
                    <button mat-flat-button color="primary" (click)="postPlace()" type="submit">Save</button>
                    <button mat-flat-button color="primary" (click)="console()" type="submit" cdkFocusInitial>Console</button>
                  </div>
                </mat-step>
              </mat-vertical-stepper>
          </mat-grid-tile> 
          <!-- Map -->  
          <mat-grid-tile rowspan="3" colspan="3">
            <app-map [dataTransferTripId]="dataTransferTripId" [mapMarkers]="mapMarkers"></app-map>
          </mat-grid-tile>

             


          <mat-grid-tile rowspan="2" colspan="1" *ngFor="let listPlace of listPlaces">
            <app-template-card-place [listPlaces]="listPlace" [dataTransferTripId]="dataTransferTripId"></app-template-card-place>
          </mat-grid-tile>
        </mat-grid-list>

        

  </div>
  

    