<div class="main-container">

  <!-- Header -->

  <div>
    <mat-toolbar color="primary">
      <mat-toolbar-row>  
        <button mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon" type="button" (click)="sidenav.toggle()">
          <mat-icon>menu</mat-icon>
        </button>
        <span class="example-spacer"></span>
        <span>Travel log</span>
      </mat-toolbar-row>
    </mat-toolbar>
  </div>

<!-- Body -->


  <mat-sidenav-container >


        <!-- Secondary -->
        <mat-sidenav #sidenav mode="side" [(opened)]="opened">
          <mat-selection-list [multiple]="false">
            <mat-action-list>
              <mat-list-option>Delete account</mat-list-option>
              <mat-list-option>Delete account</mat-list-option>
              <mat-list-option>Update account</mat-list-option>
              <button mat-list-item (click)="logout()">Logout</button>

            </mat-action-list>
          </mat-selection-list>
         <app-logout-button></app-logout-button>
        </mat-sidenav>  
    
        <!-- Main -->
        <mat-sidenav-content>
          
          
          <mat-grid-list cols="4" rowHeight="1:1" gutterSize="50px">
          
          
          <!-- Grid 1 -->  
          <mat-grid-tile rowspan="3"> 
            
            <div class="content">
              
              <!-- Name -->
              <mat-form-field appearance="outline">
                <mat-label>Name place</mat-label>
                <input 
                matInput placeholder="ex: Place de la gare"
                type="text" 
                name="name"
                id="place"
                #nameField="ngModel"
                required
                [(ngModel)]="createPlaceRequest.name"
                >
                <button mat-button *ngIf="createPlaceRequest.name" matSuffix mat-icon-button aria-label="Clear" (click)="createPlaceRequest.name=''">
                  <mat-icon>close</mat-icon>
                </button>
                <mat-error *ngIf="nameField.hasError('required') && nameField.touched">
                  Name is <strong>required</strong>
                </mat-error>
              </mat-form-field>
              
              <!-- Description -->
              <mat-form-field appearance="outline">
                <mat-label>Descripition</mat-label>
                <input 
                matInput placeholder=""
                type="text" 
                name="desciption"
                id="name"
                #nameField="ngModel"
                required
                [(ngModel)]="createPlaceRequest.description"
                >
                <button mat-button *ngIf="createPlaceRequest.description" matSuffix mat-icon-button aria-label="Clear" (click)="createPlaceRequest.description=''">
                  <mat-icon>close</mat-icon>
                </button>
                <mat-error *ngIf="nameField.hasError('required') && nameField.touched">
                  Description is <strong>required</strong>
                </mat-error>
              </mat-form-field>
              <button mat-flat-button color="primary" (click)="console()" type="submit" cdkFocusInitial>Create</button>
              
            </div>
            </mat-grid-tile>
        
        
          <!-- Grid 2 -->  
          <mat-grid-tile rowspan="3" colspan="3">
            <app-map></app-map>
          
          </mat-grid-tile>
        </mat-grid-list>
      </mat-sidenav-content>
      
    </mat-sidenav-container>
    