mat-grid-tile {
    background: lightblue;
  }

  .example-card {
    max-width: 400px;
  }
  
  .example-header-image {
    background-image: url('https://material.angular.io/assets/img/examples/shiba1.jpg');
    background-size: cover;
  }

  .example-spacer {
    flex: 1 1 auto;
  }

  .main-container {
    margin : 100px;
  }

//Sidenav


.example-container {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: #eee;
}