<div class="main-container">

  <!-- Header -->

  <div>
    <mat-toolbar color="primary">
      <mat-toolbar-row>  
        <button mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon" type="button" (click)="sidenav.toggle()">
          <mat-icon>menu</mat-icon>
        </button>
        <span class="example-spacer"></span>
        <span>Travel log</span>
      </mat-toolbar-row>
    </mat-toolbar>
  </div>

<!-- Body -->


  <mat-sidenav-container >


        <!-- Secondary -->
        <mat-sidenav #sidenav mode="side" [(opened)]="opened">
          <mat-selection-list [multiple]="false">
            <mat-list-option>Delete account</mat-list-option>
            <mat-list-option>Delete account</mat-list-option>
            <mat-list-option>Update account</mat-list-option>
          </mat-selection-list>
         <app-logout-button></app-logout-button>
        </mat-sidenav>  
    
        <!-- Main -->
        <mat-sidenav-content>
          
          
          <mat-grid-list cols="4" rowHeight="1:1" gutterSize="50px">
          
          
          <!-- Grid 1 -->  
          <mat-grid-tile rowspan="3"> 
            <mat-card class="example-card">
              <mat-card-header>
                <div mat-card-avatar class="example-header-image"></div>
                <mat-card-title>Shiba Inu</mat-card-title>
                <mat-card-subtitle>Dog Breed</mat-card-subtitle>
              </mat-card-header>
            <img mat-card-image src="https://material.angular.io/assets/img/examples/shiba2.jpg" alt="Photo of a Shiba Inu">
            
            <mat-card-content>
              <p>
                The Shiba Inu is the smallest of the six original and distinct spitz breeds of dog from Japan.
                A small, agile dog that copes very well with mountainous terrain, the Shiba Inu was originally
                bred for hunting.
              </p>
            </mat-card-content>
            
            <mat-card-actions>
              <button mat-button>LIKE</button>
              <button mat-button>SHARE</button>
            </mat-card-actions>
            
          </mat-card>
          </mat-grid-tile>
        
        
          <!-- Grid 2 -->  
          <mat-grid-tile rowspan="3" colspan="3">
            <button mat-stroked-button (click)="openDialog()">Create trip</button>
            <mat-grid-tile-header>Header</mat-grid-tile-header>
            <mat-grid-tile-footer>footer</mat-grid-tile-footer>
          </mat-grid-tile>
          </mat-grid-list>
          
        </mat-sidenav-content>

</mat-sidenav-container>

