


<div class="main-container">

  <!-- Header -->

  <div>
    <mat-toolbar color="primary">
      <mat-toolbar-row>  
        <button mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon" type="button" (click)="sidenav.toggle()">
          <mat-icon>menu</mat-icon>
        </button>
        <span class="example-spacer"></span>
        <span>Edit - Travel log</span>
      </mat-toolbar-row>
    </mat-toolbar>
  </div>

<!-- Body -->


  <mat-sidenav-container >


        <!-- Secondary -->
        <mat-sidenav #sidenav mode="side" [(opened)]="opened">
          <mat-selection-list [multiple]="false">
            <mat-action-list>
              <mat-list-option>Delete account</mat-list-option>
              <mat-list-option>Delete account</mat-list-option>
              <mat-list-option>Update account</mat-list-option>
              <button mat-list-item (click)="logout()">Logout</button>
              <p>{{editPlaceRequest.name}}</p>
              
            </mat-action-list>
          </mat-selection-list>
          <app-logout-button></app-logout-button>
        </mat-sidenav>  
        
        <!-- Main -->
        <mat-sidenav-content>
          
          
          <mat-grid-list cols="4" rowHeight="1:1" gutterSize="50px">
            
            
            <!-- Grid 1 -->  
            <mat-grid-tile rowspan="3"> 
            
              <form #loginForm="ngForm">
                <mat-card class='example-card'>
              
                  <mat-toolbar color="primary">
                    <span>Edit</span>
                    <span class="example-spacer"></span>
                    <!-- <button mat-flat-button color="primary" routerLink="/register" routerLinkActive="activebutton">Sign up</button> -->
                  </mat-toolbar>
                  <mat-card-title></mat-card-title>
                  <mat-card-subtitle></mat-card-subtitle>
                  <span class="example-spacer"></span>
              
                  <!-- Name -->
                  <div class="content">
                  <mat-card-content>
                    <mat-form-field class="example-form-field">
                      <mat-label>{{place.name}}</mat-label>
                      <input 
                        matInput 
                        type="text" 
                        name="name"
                        placeholder="Placeholder"
                        id="name"
                        #usernameField="ngModel"
                        required
                        [(ngModel)]="editPlaceRequest.name" 
                        >
                      <button mat-button *ngIf="editPlaceRequest.name" matSuffix mat-icon-button aria-label="Clear" (click)="editPlaceRequest.name=''">
                        <mat-icon>close</mat-icon>
                      </button>
                      <mat-hint>Change name</mat-hint>
                    </mat-form-field>
                  </mat-card-content>
                  
                  <!-- Description -->
                  <mat-card-content>
                    <mat-form-field class="example-form-field" >
                      <mat-label>{{place.description}}</mat-label>
                      <input 
                      matInput 
                      type="text" 
                      name="description"
                      placeholder="Placeholder"
                      id="description"
                      #passwordField="ngModel"
                      [(ngModel)]="editPlaceRequest.description" 
                      required
                      >
                      <button mat-button *ngIf="editPlaceRequest.description" matSuffix mat-icon-button aria-label="Clear" (click)="editPlaceRequest.description=''">
                        <mat-icon>close</mat-icon>
                      </button>
                      <mat-hint>Change description</mat-hint>
                    </mat-form-field>
                  </mat-card-content>
                  
                  <!-- Coordinates -->
                  <mat-card-content>
                    <mat-form-field class="example-form-field" >
                      <mat-label>{{place.location.coordinates}}</mat-label>
                      <input 
                      matInput 
                      type="text" 
                      name="Coordinates"
                      placeholder="Placeholder"
                      id="description"
                      #passwordField="ngModel"
                      [(ngModel)]="this.coord" 
                      required
                      >
                      <button mat-button *ngIf="editPlaceRequest.description" matSuffix mat-icon-button aria-label="Clear" (click)="editPlaceRequest.description=''">
                        <mat-icon>close</mat-icon>
                      </button>
                      <mat-hint>Change coordinates</mat-hint>
                    </mat-form-field>
                  </mat-card-content>
                </div>
                  
                  
                  <mat-card-actions class="example-actions">
                    <button mat-flat-button color="primary" type="submit" (click)="addCoord()" (click)="editPlace()">Save</button>
                  </mat-card-actions>
                  <mat-card-footer></mat-card-footer>
              
                </mat-card>
              </form>
                
              
               
          </mat-grid-tile> 
        
          
          <!-- Grid 2 -->  
          <mat-grid-tile rowspan="3" colspan="3">
            <app-map-edit></app-map-edit>
          
          </mat-grid-tile>
          <!-- <mat-grid-tile rowspan="2" colspan="1" *ngFor="let listPlace of listPlaces">
            <app-template-card-place [listPlaces]="listPlace"></app-template-card-place>
          </mat-grid-tile> -->
        </mat-grid-list>
        
      </mat-sidenav-content>
      
    </mat-sidenav-container>
  </div>
  

    