
.example-card {
  max-width: 400px;
}

.example-header-image {
  background-image: url('https://material.angular.io/assets/img/examples/shiba1.jpg');
  background-size: cover;
}

.example-spacer {
  flex: 1 1 auto;
}

.main-container {
  margin : auto;
  width: 1200px;
}

.is-invalid{
  color: red;
}



.map-content{
  margin-left: 25.65%;
  height: 1000px;
}

//Stepper

.mat-stepper-vertical {
margin-top: 8px;
}

.mat-form-field {
margin-top: 16px;
height: 475px;
}